[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "~=5.4"
gevent = "~=20.9.0"
gunicorn = "~=19.9.0"
Flask = "~=2.0"
Pillow = "~=9.1"
qrcode = "~=7.3"
logging-utilities = ">=1.2.3,~=1.2"
python-dotenv = "~=0.19"

[dev-packages]
yapf = "*"
nose2 = "*"
pylint = "*"
pylint-flask = "*"
pyzbar = "*"
click = "*"
pipenv-shebang = "*"

[requires]
python_version = "3.9"
